{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": ["error", {"skipUndeclared": true}]
  }
}
